#clock {
  display: inline-block;
}

#hour {
  max-width: 50px;
  height: auto;
  float: left;
  margin-left: 3px;
}

#min {
  max-width: 50px;
  height: auto;
  float: left;
  margin-left: 3px;
}

#sec {
  max-width: 50px;
  height: auto;
  float: left;
  margin-left: 3px;
}