body {
  max-width: 900px;
}

header {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#clock {
  text-align: center;
  max-width: 900px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;

}
